.drawer-box {
    width: 260px;
   
    height: 100%;
    padding: 10px;
   margin-top:-50;
 
}

.drawer-paper {
    background-color: #fafafa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   
}

.list-item-button {
    border-radius: 8px;
    margin-bottom: 5px;
    transition: all 0.3s ease; 
    padding: 10px;
  
}

.list-item-button:hover {
    background-color: #d6e4ff; 
    transform: scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.list-item-icon {
    color: #616161;
    transition: color 0.3s ease; 
}

.list-item-button:hover .list-item-icon {
    color: #020202; 
}

.list-item-text {
    font-family: 'Junge', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px; /* Updated font size */
    line-height: 1.5; /* Adjust line height for better spacing */
    color: #555555;
    transition: color 0.3s ease, transform 0.3s ease;
    
}

.list-item-button:hover .list-item-text {
    color: #000000;
    font-size: 18px; /* Slightly larger font size on hover */
    font-weight: 600; /* Bolder weight for emphasis */
}

.divider {
    margin-top: 10px;
    background-color: #313131;
    height: 2px; 
    margin-bottom: 10px;
}
