/* My Journals CSS */

.backToHome{
    position: absolute;          
    left: 15px;                  
    bottom: 20%;                                  
    cursor: pointer;   
    border: bold;   
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));

    width: 189px;
    height: 45px;


    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    background-color: E7DCDC;

}

.backToHome:hover {
    background-color: rgb(219, 184, 145);  
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    transform: translateY(-3px); 
    transition: all 0.3s ease; 
}

.myJournalsMyCollections{
    position: absolute;          
    left: 15px;                  
    top: 20%;                                  
    cursor: pointer;   
    border: bold;   
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));

    width: 189px;
    height: 45px;

    position: absolute;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    background-color: #f5f5f5;
}

.myJournalsMyCollections:hover {
    background-color: rgb(242, 196, 158);  
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    transform: translateY(-3px); 
    transition: all 0.3s ease; 
}

.buttonWithIcon {
    position: absolute;
    width: 189px;
    height: 45px;

    right: 15px;                  
    top: 35%;

    display: flex;                
    align-items: center;          
    gap: 10px;                    
    padding: 10px;                
    border: bold;                
    background-color: BACD92; 
    cursor: pointer;              
}

.Icon{
    flex: 0.15 ;
    width: 30px;                  
    height: 30px;
}

.loggedInText{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    flex: 0.7;
    font-size: 16px;              
    color: rgb(255, 255, 255);                 
}

.addNewEntry{
    display: flex; 
    
    width: 260px;                  
    height: 70px;
    position:absolute;

    gap: 10px;                    
    padding: 15px;
    bottom : 3%; 

    background-color: B5CFB7;
    cursor: pointer;   
    border: bold; 
    align-items: center; 
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.addNewEntry:hover {
    background-color: rgb(176, 204, 128);  
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    transform: translateY(-3px); 
    transition: all 0.3s ease; 
}


.entriesList{
    display: flex;
    flex-direction:column; 
    justify-content: center; 
    align-items: center;    
         
    position: relative;
    height: 100%;
}

.alertText{
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.saveChanges{
    position: absolute;
    width: 189px;
    height: 45px;

    right: 15px;                  
    top: 35%;

    display: flex;                
    align-items: center;          
    gap: 30px;                    
    padding: 10px;                
    border: bold;                
    background-color: BEEFA9; 
    cursor: pointer;  

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.saveChanges:hover {
    border-color: #6fc341; 
    outline: none; 
    background-color: rgb(79, 226, 71); 

    box-shadow: 0px 4px 10px rgba(21, 203, 94, 0.5); 
    transform: translateY(-3px); 
    transition: all 0.3s ease; 
    
}

.backToMyJournals{
    position: absolute;
    width: 189px;
    height: 45px;

    left: 15px;                  
    top: 35%;
               
    align-items: center;                              
    padding: 8px;                
    border: bold;                
    background-color: E7DCDC; 
    cursor: pointer;  

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
  
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}


.backToMyJournals:hover {
    background-color: rgb(219, 184, 145);  
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    transform: translateY(-3px); 
    transition: all 0.3s ease; 
}

.editEntryHorizontalFlexParent{
    display:flex;  
    flex-direction:row;
    height: 750px;
}

.editEntryRightSideBar{
    flex: 0.25;
    justify-content: center;
}

.editEntryLeftContent{
    flex: 0.75;
    display:flex;  
    flex-direction:column;
}

.sidebarVerticalFlexParent{
    position:relative;
    display:flex;  
    flex-direction:column;
    height:100%;
    background-color: F5EEE6;
}

.up{
    position: relative;
    align-items: center;
    justify-content: center; 
    flex:0.5;

    display: flex;
    
}

.down{
    display: flex;
    position: relative;
    
    flex:0.5;
    justify-content: center; 
}

.artWorkBox{
    position: absolute;
    display: flex;
    border: bold;

    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;
    background-color: D9D9D9;
}

.addArtwork{
    position: absolute;
    width: 189px;
    height: 45px;                  
                   
    align-items: center;                             
    padding: 10px;                
    border: bold;                
    background-color: E7DCDC;
    cursor: pointer;  

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.addArtwork:hover {
    background-color: rgb(219, 184, 145); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    transform: translateY(-3px); 
    transition: all 0.3s ease; 
}

.starryNightIcon{
    max-width: 100px;
    max-height: 100px;
}

.deleteEntry{
    position: absolute;
    width: 189px;
    height: 45px;

    bottom: 200;          
    display: flex;                
    align-items: center;
    justify-content: center;          
    
    gap: 30px;                    
    padding: 10px;
                   
    border: bold;                
    background-color: FF8A8A; 
    cursor: pointer;  

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
}

.deleteEntry:hover {
    border-color: #ff0000; 
    outline: none; 
    background-color: rgb(226, 78, 71); 

    box-shadow: 0px 4px 10px rgba(203, 55, 21, 0.5); 
    transform: translateY(-3px); 
    transition: all 0.3s ease; 
    
}

.entryTextBox{
    width: 300px;
    height: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

    
    transition: all 0.3s ease; /* Smooth transition for interactions */

    border: none;
    border-bottom: 2px solid #000; /* A line below the input */
    outline: none; /* Removes focus ring for a cleaner look */
    
    padding: 5px 0;
    
}

.entryTitleTextBox{
    width: 450px;
    height: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

    
    transition: all 0.3s ease; /* Smooth transition for interactions */

    border: none;
    border-bottom: 2px solid #000; /* A line below the input */
    outline: none; /* Removes focus ring for a cleaner look */
    
    padding: 5px 0;
    
}

.titleAndDateDiv{
    flex: 0.1;
    display:flex;
    margin-left: 40px;
    gap: 18%;
}

.moodDiv{
    flex: 0.1;
    display: flex;
    margin-left: 40px;
}

.journalEntryDiv{
    flex: 0.8;
    display:flex;
    justify-content: center;
    
    width: 100%; /* Set parent width */
    height: 300px; /* Example height */
    box-sizing: border-box; /* Ensures padding and borders don't affect dimensions */
    
}

.journalEntryContentTextBox{
    width: 95%; /* Take full width */
    height: 100%; /* Take full height */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: all 0.3s ease; /* Smooth transition for interactions */
}

.journalEntryContentTextBox:hover {
    border-color: #888; /* Change border color on hover */
}

.journalEntryContentTextBox:focus {
    border-color: #007BFF; 
    outline: none; 
    background-color: #eef; /* Slightly change background color */

    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.5); /* Glow effect on focus */
    
}

.previousEntriesText{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.entriesLabelList{
    top: 3%;
    flex: 0.2;
    justify-content: center; 
    align-items: center;        
    position: absolute;
    
}

.scrollable {
    
    flex:0.8;
    width: 90%;
    justify-content: center; 
    align-items: center;

    
    overflow-y: auto;       
    border: 1px solid #ccc;  
    padding: 10px;  
}

