.topBar {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 200px;     
    background-color: #f5f5f5; 
    font-size: 36px;        
    font-weight: bold;      
    color: #333;
}

.logo{

    position: center;          
    margin-bottom: 100px;
    top: 3%;  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

.Explore {
    position: absolute;          
    left: 15px;                  
    top: 3%;                                  
    cursor: pointer;   
    border: bold;   
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));

    width: 189px;
    height: 45px;

    position: absolute;

    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    background-color: ABB4C1;




}
.searchBar {
    position: absolute;
    border: bold;        
    left: 15px;                   
    top: 10%;   
    width: 197px;
    height: 33px;                               
    cursor: text;
 
}

.signInlogo {
    position: absolute;
    border: bold;        
    right: 50px;                   
    top: 3%;                                  
    cursor: pointer;
   

width: 92px;
height: 38px;


font-family: 'Junge';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;


          
}

.signInIcon {
    position: absolute;
    border: none;        
    right: 150;                   
    top: 3%;                                  
    cursor: pointer;

          
}

.Mycollections{
margin-right: 200px;
margin-top: 120px;
position: absolute;
width: 151px;
height: 34px;

}

.exploreNewArtPanel{

width: 900px;
height: 300px;
}

.findMyTaste {
    margin-top: 70;
    top: 52%;                     
    left: 4%;                    
    position: absolute;
    width: 227px;
    height: 50px;
    background: rgba(63, 110, 202, 0.89);
    border-radius: 10px;
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border-color: rgba(63, 110, 202, 0.89);
    }

.Myjournal {
    margin-left: 200px;
    margin-top: 120px;
    position: absolute;
    width: 159px;
    height: 33.2px;

}


.confusedText {
    position: absolute;
    top: 57%; 
    left: 4%; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px; 
    color: #000000; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.horizontalFlexParent{
    display:flex;  
    flex-direction:row;
}

.ArtDescImage{
    max-height: 380px;
    flex: 0.4;
    border:2px solid;
}

.ArtDescTextPanel{
    height: 380px;
    flex: 0.6;
    background-color: #E19898;
    border:2px solid; 
    border-color: #000000;
    padding-right:40px;
    padding-left:40px;
}

.ArtDescName{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
}

.ArtDescText{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}

.ArtContext{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: right;
}

.explorePanel{
    flex: 0.4;
}

.exploreImage{
    flex: 0.6;
    height: 300px;
}


/*FindMyTaste page styling begins below*/

.topBarFMT{
    height: 30vh;
    width: 100%;
    background-color: #dacdbf;
    border-radius: 20px;
    
}

.artyFactHeader{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 90px;
    color: #000000;
}

.dreamArtDescButton{

    position: absolute;
    left: 22%;
    transform: translateX(100%);
    margin-top: 130px;
    width: 170px;
    height: 50px;
    background: #e6e6e6;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    border-radius: 19px;

}

.dreamArtQuizButton{
    position: absolute;
    right: 46%;
    transform: translateX(100%);
    margin-top: 130px;
    width: 170px;
    height: 50px;
    background: #fffefe;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    border-radius: 19px;
}


.backToHomeButton {
    position: absolute;
    left: 4%;
    padding: 20px;
    transform: translateX(-50%); 
    cursor: pointer;
    width: 60px;
    height: 60px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));    
    
    
}

.dreamDescInputBox{
    margin-left: 365px;
    margin-top: 70px;
    width: 700px;
    height: 300px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 15px;
    background-color: #dacdbf;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.seeDescResultsButton{
    top: 90%;
    left: 46%;
    position: absolute;
    font-family: "Junge";
    font-size: 15px;
    width: 128px;
    height: 33px;
    background: #F6F6F6;
    border: 0.5px solid #000000;
    border-radius: 10px;
    background-color: #dacdbf;
    cursor: pointer;
}


